<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div>
      <h1>Url Shortener</h1>

      <div>
        <form method="POST" action="/url">
          <label>Enter Your Original URL</label>
          <input
            required
            type="text"
            name="url"
            placeholder="https://example.com"
          />
          <button type="submit">Generate</button>
        </form>
      </div>
      <div>
        <% if (locals.id) { %>
        <div class="generated-url">
          <p>Generated URL:<%= id %></p>
          <a target="_blank" href="http://localhost:8001/<%= id %>">Visit</a>
          <a href="/">Go back</a>
        </div>
        <% } %> <% if (locals.urls) { %>
        <table>
          <thead>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% urls.forEach(url => { %>
            <tr>
              <td><%= url.shortId %></td>
              <td><%= url.redirectURL %></td>
              <td><%= url.visitHistory.length %></td>
              <td>
                <a
                  target="_blank"
                  href="http://localhost:8001/<%= url.shortId %>"
                  >Visit</a
                >
              </td>
              <td>
                <form method="POST" action="/url/delete">
                  <input
                    type="hidden"
                    name="shortId"
                    value="<%= url.shortId %>"
                  />
                  <button type="submit">Remove</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
    </div>
  </body>
</html>
